@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: "Montserrat", sans-serif;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: solid rgba(80,80,80,0.5) 1px;
    background-color: #F3F0EB;
    
}
.header a img{
     width: 220px;
    
}
.navigacija ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 15px;
    padding: 20px 0;
    margin-right: 10px;
}
.navigacija li a{
    color: black;
    text-decoration: none;
    
}
